<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.automarket">

    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AUTOMARKET"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity android:name=".Vista.Inicio_Sesion" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Vista.Registro" android:exported="false" />
        <activity android:name=".Vista.Pantalla_Principal" android:exported="false" />
        <activity android:name=".Vista.Panel_Control_User" android:exported="false" />
        <activity android:name=".Vista.Favoritos" android:exported="false" />
        <activity android:name=".Vista.Categorias" android:exported="false" />
        <activity android:name=".Vista.Publicar_Coche" android:exported="false" />
        <activity android:name=".Vista.Publicar_Moto" android:exported="false" />
        <activity android:name=".Vista.Publicar_Furgoneta" android:exported="false" />
        <activity android:name=".Vista.ListaCochesActivity" android:exported="false" />
        <activity android:name=".Vista.Anuncios" android:exported="false" />
        <activity android:name=".Vista.ListaFurgonetasActivity" android:exported="false" />
        <activity android:name=".Vista.ListarMotoActivity" android:exported="false" />
        <activity android:name=".Vista.ModificarCredencialesActivity" android:exported="false" />
        <activity android:name=".Vista.ModificarAnuncioActivity" android:exported="false" />
        <activity android:name=".Vista.DetalleAnuncioActivity" android:exported="false" />

    </application>
</manifest>
